application-cloud-transformation-automation-workbench/lib/templates/tibcoTemplate/test/xsd/AIMStatementHitlistReply.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1148405974171"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1148405974171"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!--root element StatementHitlistOnDemandReply -->
	
	<xsd:element name = "StatementHitlistReply" type = "root"/>
	<xsd:complexType name = "root">
		<xsd:sequence>
			<xsd:element name = "status" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "resultCount" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "goodItemsCount" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "sorryItemsCount" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "exceededMaxItems" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "statementHitlist" type = "statementHitlistType" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "error" type = "errorType" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "statementHitlistType">
		<xsd:sequence>
			<xsd:element name = "aimDocumentId" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "accountNumber" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "statementDate" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "folderName" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "primaryAccountHolderName" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "secondaryAccountHolderName" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "docLocation" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "hitlistIndex" type = "hitlistIndexType" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "errorType">
		<xsd:sequence>
			<xsd:element name = "errorSeverity" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorType" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorMessage" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorCode" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "hitlistIndexType">
		<xsd:sequence>
			<xsd:element name = "name" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "value" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
